.selection{
  margin-bottom: 60px;
  &__cards{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    border-top: 1px solid #81BECB;
  }
  &__title{
    color: #FFF;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
    margin-bottom: 30px;
    display: inherit;
  }
  .swiper-button-next, .swiper-button-prev{
    width: 29px;
    height: 29px;
    background: #81BECB;
    border-radius: 50%;
    &:after{
      content: '\203A';
      transform: scale(.5);
      margin-top: -5px;
      margin-right: -2px;
      color: white;
    }
  }
  .swiper-button-prev{
    &:after{
      content: '\2039';
      margin-right: 0;
    }
  }
}