ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  text-align: left;
  border-radius: 5px 5px 0px 0px;
  background: rgba(22, 26, 25, 0.35);
  position: absolute;
  z-index: 99;
  top: 15px;
  left: 25px;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  text-decoration: none;
  color: #DBDBDB;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
ul.breadcrumb li a:hover {
  color: #81BECB;
  text-decoration: underline;
}