.person-page{
  display: flex;
  &__title{
    color: white;
    font-size: 42px;
    margin-bottom: 30px;
  }
  &__biography{
    font-size: 28px;
    color: white;
    &>div{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 26px;
      span{
        text-align: left;
        font-size: 20px;
        line-height: normal;
        margin-top: 20px;
      }
    }
  }
  &__right-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
  }
  &__inf{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__left-box{
    margin-right: 30px;
  }
  &__gender, &__bird, &__city, &__famious{
    color: white;
    text-align: left;
    font-size: 20px;
    margin: 0 0 20px;
    display: block;
    span{
      text-decoration: underline;
      font-size: 23px;
    }
  }
  &__img{
    margin-bottom: 20px;
  }
  &__famious{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span{
      margin-bottom: 20px;
      text-decoration: underline;
    }
    div{
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
}
.films{
  width: 100%;
  &__title{
    color: white;
    text-align: left;
    font-size: 30px;
    margin: 30px 0;
  }
  .card__name{
    font-size: 17px;
  }
}