.content{
  display: flex;
  justify-content: space-between;
}
.load-button{
  width: 100%;
  padding: 10px;
  border: none;
  background: #81BECB;
  color: black;
  font-size: 25px;
  outline: none;
  cursor: pointer;
  border-radius:10px;
  &:hover{
    opacity: 0.9;
  }
}