.popular-box{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #2B2B2B;
  background: rgba(28, 29, 31, 0.50);
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  margin-bottom: 30px;
  align-items: flex-start;
  &__item{
    display: flex;
    border-bottom: 1px solid #2B2B2B;
  }
  &__title{
    border-bottom: 1px solid #2B2B2B;
    border-radius: 5px 5px 0px 0px;
    background: #212121;
    width: 100%;
    &-link{
      display: block;
      text-align: left;
      padding: 18px 20px;
      color: #FFF;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  &__img{
    width: 92px;
    height: 98px;
    min-width: 92px;
    margin: 15px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  &__info{
    margin: 15px 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__time{
    color: #A4A4A4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    svg{
      margin-right: 5px;
    }
  }
  &__link{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    overflow: hidden;
    max-height: 70px;
  }
}