.content{
  &__tile{
    width: 100%;
    position: relative;
    outline:1px solid gray;
    outline-offset:-20px;
    margin-bottom: 30px;
  }
  &__tile-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.tile{
  &:hover{
    transition: 0.5s;
    img{
      transition: 0.25s;
      transform: scale(1.02);
    }
  }
  &__img{
    width: 100%;
    display: block;
    overflow: hidden;
    img{
      width: 100%;
      border-radius: 5px;
      transition: 0.25s;
    }
  }
  &__text{
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    span{
      color: #FFF;
      text-align: center;
      text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
      font-style: normal;
      line-height: normal;
    }
  }
  &_average{
    width: 49%;
    margin-right: 29px;
    max-width: 657px;
    .tile__name{
      font-size: 50px;
    }
    .tile__numbers{
      font-size: 22px;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &_small{
    width: 33%;
    margin-right: 29px;
    max-width: 428px;
    .tile__name{
      font-size: 40px;
    }
    .tile__numbers{
      font-size: 18px;
    }
    &:nth-child(3n+3){
      margin-right: 0;
    }
  }
  &__name{
    font-size: 65px;
    font-weight: 700;
  }
  &__numbers{
    font-size: 30px;
    font-weight: 400;
    span{
      color: #81BECB;
    }
  }
}