.video{
  width: 95.5%;
  border-radius: 5px;
  border: 1px solid #2B2B2B;
  background: #212121;
  padding: 15px;
  margin: 15px;
  &__title{
    color: white;
    font-size: 21px;
    text-align: left;
    margin-bottom: 15px;
  }
  &__img{
    display: block;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    &:before{
      content: '';
      background-image: url('https://i.ibb.co/6bJkW9c/video-youtube-icon-1320192294490006733-2.png');
      width: 50px;
      top: 50%;
      margin-top: -32px;
      right: 0;
      -webkit-background-size: cover;
      background-size: cover;
      white-space: nowrap;
      height: 50px;
      position: absolute;
      left: 50%;
      margin-left: -32px;
      padding: 2px 5px;
      z-index: 5;
    }
  }
}