.header{
  background: radial-gradient(1009.23% 696.22% at 47.60% 26.27%, #181A19 0%, #24282B 68.62%);
  height: 129px;
  padding-top: 45px;
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  .container-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left{
    display: flex;
    align-items: center;
  }
}