.about-box{
  margin-bottom: 140px;
  p{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-bottom: 15px;
  }
}