.footer{
  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }
  &__law{
    color: #A8A8A8;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__politic{
    color: #A8A8A8;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    &:hover{
      color: #81BECB;
    }
  }
}