.App {
  text-align: center;
  background: radial-gradient(1009.23% 696.22% at 47.60% 26.27%, #181A19 0%, #24282B 68.62%);
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
}
.container-wrap{
  max-width: 1802px;
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 24px;
  padding-right: 24px;
}
.load{
  font-size: 80px;
}
.yyy{
  display: block;
}
.hover-img{
  overflow: hidden;
}
.hover-img:hover{
  transition: 0.5s;
}

.hover-img:hover img{
  transition: 0.25s;
  transform: scale(1.02);
}
.content__main{
  width: 78%;
  max-width: 1343px;
}

a:hover{
  color: #81BECB;
}

.content__aside{
  width: 20%;
  max-width: 427px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
