.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 19%;
  margin-right: 15px;
  margin-bottom: 50px;
  &:nth-child(5n+5) {
    margin-right: 0;
  }
  &__average{
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
  }
  &__img{
    width: 100%;
    margin-bottom: 20px;
    img{
      width: 100%;
    }
  }
  &__name{
    color: #FFF;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
  }
  &__date{
    color: #FFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }
}
.swiper-wrapper {
  .card{
    width: 100%;
  }
}