.content{
  display: flex;
  justify-content: space-between;
}
.content__main{

}
.movie-page{
  .movie__genre-left{
    min-width: auto;
  }
  .movie__genre-right ul{
    display: flex;
    li{
      margin-right: 10px;
      font-size: 17px;
    }
  }
  .movie__item{
    width: 100%;
    margin: 0 0 50px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .movie__actors{
    width: 95.5%;
  }
  .movie__title{
    margin-bottom: 30px;
  }
  .description__text p{
    font-size: 24px;
  }
  .description__title{
    font-size: 27px;
  }
}